@page "/notes/details/{id:int}"
@using Notes.Data
@using Notes.Services
@inject NoteService NoteService
@inject NavigationManager Navigation

<h1>Details</h1>

@if (_note != null)
{
    <div>
        <h4>Note</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">First Name:</dt>
            <dd class="col-sm-10">@_note.FirstName</dd>

            <dt class="col-sm-2">Date:</dt>
            <dd class="col-sm-10">@_note.Date.ToShortDateString()</dd>

            <dt class="col-sm-2">Mood:</dt>
            <dd class="col-sm-10">@_note.Mood</dd>

            <dt class="col-sm-2">Message:</dt>
            <dd class="col-sm-10">@_note.Message</dd>

        </dl>
    </div>

    <div>
        <a href="/notes" class="btn btn-secondary">Back to List</a>
    </div>
}
else
{
    <p>Note not found.</p>
}

@code {
    [Parameter] public int Id { get; set; }
    private Note _note = new();

    protected override async Task OnInitializedAsync()
    {
        _note = await NoteService.GetNoteByIdAsync(Id);

        if (_note == null)
        {
            Navigation.NavigateTo("/notes");
        }
    }
}